*{
	margin:0;
	padding:0;
}

body{

	background:#ccc;
}

header,footer,.main{

	width:90%;
	margin:auto;
	max-width:1000px;
}

img{
	
	margin-top:15px;
	margin-bottom:5px;
	width:250px;
	
	position-bottom:300px;
	border-radius:60px;
	float:left;
}


#cabecera
{
	background:#408ff4;
	list-style-type:none;
	padding:15px 5px;
	font-weight:bold;
	font-size:20px;
	color: white;


}


.biografia article{
	
	width:68.5%;
	float:left;
	margin-right:1.5%;
	text-align:justify;
	padding: 0px 20px;
	margin-bottom:1.5%;
	
}

.cursos
{

	clear:both;
	
}

hr
{
	margin:10px 0px;

}

ul
{
	padding: 5px 10px;
}

article h1
{
	font-size:20px;
	padding:10px 0px;
}

footer{

	clear:both;
	background:black;
	color:white;
	padding:5px;
	margin-top:15px;
	text-align:center;
	font-size:15px;
}