{% extends 'core/base.html' %}

{% block titulo%}Portafolio {% endblock%}

{% block imagenFondo%}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{%endblock%}

{%block cabeceras%}
 <h1>Portafolio</h1>
	<span class="subheading">Cursos y Projectos</span>
{%endblock%}

{%block contenido%} 
  {%for projecto in projectos%}
    <div class="row project">  	
    	<div class="col-lg-3 col-md-4 offset-lg-1">
  	      <img class="img-fluid" src="{{projecto.imagen.url}}" alt="">
    	</div>
      <div class="col-lg-7 col-md-8">
    		<h2 class="section-heading title">{{projecto.titulo}}</h2>   
        
        <p>{{projecto.descripcion}}</p>
        {% if projecto.url %}
           <p><a href="{{projecto.url}}">Más información</a></p>
        {% endif %}
    	</div>
    </div>
  {% endfor %}
{%endblock%}
