{% extends 'core/base.html' %}

{% block titulo%} Acerca de {% endblock%}

{% block imagenFondo%}{% load static %}{% static 'core/img/about-bg.jpg' %}{%endblock%}

{%block cabeceras%}
 <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{%endblock%}

{% block contenido %}
<div class="col-lg-3 col-md-4 offset-lg-1">
  	<img class="img-fluid avatar" src="{% static 'core/img/ImagenPrincipal.jpg' %}" alt="">
	
</div>
<div class="col-lg-7 col-md-8">
  	<h2 class="section-heading">Randy Mendoza</h2>   
	<p>Soy estudiante de Tercer año de Ingenieria en Informatica, 
          actualmente busco orientarme en el desarrollo Web, para ello me estoy capacitando como desarrollador Backend con Django en diferentes plataformas (platzi,Udemy,etc). 
          Posteriormente busco capacitarme para el Frontend (con javascript y demas tecnologias) y de esta manera llegar al perfil Full stack</p>
    <br>
    <p>Me interesa comenzar a trabajar en alguna empresa donde pueda mostrar tanto lo aprendido en la universidad, como en estos cursos de desarrollo, ademas tengo buen manejo de algoritmos, por lo que podria aprender otros tipos de tecnologias de ser necesario para ir complementando mi formación.</p>
</div>


{%endblock%}